# CODEOWNERS
#
# Documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Deepak Ghivari (Deepak-Ghivari)
# Francis Nijay (francis-nijay)
# Karthik K (karthikk92)
# Rajendra Indukuri (rajendraindukuri)
# Rensy Thomas (rensyct)
# Spandita Panigrahi (panigs7)

# for all files:
* @Deepak-Ghivari @francis-nijay @karthikk92 @rajendraindukuri @rensyct @panigs7
