# CODEOWNERS
#
# Documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners
# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Adam Ginna (adamginna-dell)
# Aaron Tye (atye)
# Keerthi Bandapati (bandak2)
# Bogdan Novikov (bogdanNovikovDell)
# Bartosz Ciesielczyk (cbartoszDell)
# Deepak Ghivari (Deepak-Ghivari)
# Emily Kinuthia (EmilyKatdell)
# Francis Nijay (francis-nijay)
# Karthik K (karthikk92)
# Leonard Ulman (Leonard-Dell)
# Marek Suski (mareksuski-dell)
# Małgorzata Dutka (mdutka-dell)
# Spandita Panigrahi (panigs7)
# Rajendra Indukuri (rajendraindukuri)
# Shayna Finocchiaro (shaynafinocchiaro)

# for all files:
* @adamginna-dell @atye @bandak2 @bogdanNovikovDell @cbartoszDell @Deepak-Ghivari @EmilyKatdell @francis-nijay @karthikk92 @Leonard-Dell @mareksuski-dell @mdutka-dell @panigs7 @rajendraindukuri @shaynafinocchiaro
