# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Coulombel Florian (coulof)
# Francis Nijay (francis-nijay)
# Gallacher Sean (gallacher)
# K Karthik (karthikk92)
# Prasad Raghavendra (prasar6)
# Rajendra Indukuri (rajendraindukuri)
# Rensy Thomas (rensyct)
# Bandapati Keerthi (bandak2)
# Panigrahi Spandita (panigs7)

# for all files:
* @coulof @francis-nijay @gallacher @karthikk92 @prasar6 @rajendraindukuri @rensyct @bandak2 @panigs7