## K8S/DRIVER ATTRIBUTES
########################

# version: version of this values file
# Note: Do not change this value
# Examples : "v2.2.0" , "nightly"
version: "v2.2.0"

# LogLevel is used to set the logging level of the driver.
# Allowed values: "error", "warn"/"warning", "info", "debug"
# Default value: "info"
logLevel: "info"

# certSecretCount: Represents number of certificate secrets, which user is going to create for
# ssl authentication. (unity-cert-0..unity-cert-n)
# Allowed values: n, where n > 0
# Default value: None
certSecretCount: 1

# imagePullPolicy: Policy to determine if the image should be pulled prior to starting the container.
# Allowed values:
# Always: Always pull the image.
# IfNotPresent: Only pull the image if it does not already exist on the node.
# Never: Never pull the image.
# Default value: IfNotPresent
imagePullPolicy: Always

# Specify kubelet config dir path.
# Ensure that the config.yaml file is present at this path.
# Default value: None
kubeletConfigDir: /var/lib/kubelet

#To set nodeSelectors and tolerations for controller.
# controller: configure controller pod specific parameters
controller:
  # controllerCount: defines the number of csi-powerscale controller pods to deploy to
  # the Kubernetes release.
  # Allowed values: n, where n > 0
  # Default value: None
  controllerCount: 2

  # volumeNamePrefix: Prefix of PersistentVolume names created
  # Allowed values: string
  # Default value: None
  volumeNamePrefix: csivol

  snapshot:
    # enabled: Enable/Disable volume snapshot feature
    # Allowed values:
    #   true: enable volume snapshot feature(install snapshotter sidecar)
    #   false: disable volume snapshot feature(do not install snapshotter sidecar)
    # Default value: None
    enabled: true

    # snapNamePrefix: Prefix to apply to the names of a created snapshots
    # Allowed values: string
    # Default value: None
    snapNamePrefix: csi-snap

  resizer:
    # enabled: Enable/Disable volume expansion feature
    # Allowed values:
    #   true: enable volume expansion feature(install resizer sidecar)
    #   false: disable volume snapshot feature(do not install resizer sidecar)
    # Default value: None
    enabled: true

  # nodeSelector: Define node selection constraints for controller pods.
  # For the pod to be eligible to run on a node, the node must have each
  # of the indicated key-value pairs as labels.
  # Leave as blank to consider all nodes
  # Allowed values: map of key-value pairs
  # Default value: None
  # Examples:
  #   node-role.kubernetes.io/master: ""
  nodeSelector:

  # tolerations: Define tolerations for the controllers, if required.
  # Leave as blank to install controller on worker nodes
  # Default value: None
  tolerations:
  #  - key: "node-role.kubernetes.io/master"
  #    operator: "Exists"
  #    effect: "NoSchedule"

  volumeHealthMonitor:
    # enabled: Enable/Disable health monitor of CSI volumes- volume state, volume condition
    # Allowed values:
    #   true: enable checking of health condition of CSI volumes
    #   false: disable checking of health condition of CSI volumes
    # Default value: None
    enabled: false

    # interval: Interval of monitoring volume health condition
    # Allowed values: Number followed by unit of time (s,m,h)
    # Default value: 60s
    interval: 60s

# node: configure node pod specific parameters
node:
  # dnsPolicy : Define the DNS Policy of the Node service.
  # ClusterFirstWithHostNet is the recommended and default DNS policy for the driver.
  # Prior to v1.6 of the driver, the default DNS policy was ClusterFirst.
  # In certain scenarios, users might need to change the default dnsPolicy.
  # Default value: None
  dnsPolicy: "ClusterFirstWithHostNet"

  volumeHealthMonitor:
    # enabled: Enable/Disable health monitor of CSI Volumes - volume usage
    # Allowed values:
    #   true: enable checking of health condition of CSI volumes
    #   false: disable checking of health condition of CSI volumes
    # Default value: None
    enabled: false


# CSM module attributes
# service to monitor failing jobs and notify
podmon:
  # enabled - flag to enable or disable podmon
  # allowed values : boolean
  # defaule value : None
  # Examples : true , false
  enabled: false
  # image - image name
  # allowed values - string
  # default value : None
  # Example : "podman:latest", "pod:latest"
  image:
#  controller:
#    args:
#      - "--csisock=unix:/var/run/csi/csi.sock"
#      - "--labelvalue=csi-unity"
#      - "--driverPath=csi-unity.dellemc.com"
#      - "--mode=controller"
#      - "--driver-config-params=/unity-config/driver-config-params.yaml"
#  node:
#    args:
#      - "--csisock=unix:/var/lib/kubelet/plugins/unity.emc.dell.com/csi_sock"
#      - "--labelvalue=csi-unity"
#      - "--driverPath=csi-unity.dellemc.com"
#      - "--mode=node"
#      - "--leaderelection=false"
#      - "--driver-config-params=/unity-config/driver-config-params.yaml"

### The below parameters have been discontinued for configuration from secret.yaml and will have to be configured only in values.yaml

# syncNodeInfoInterval - Time interval to add node info to array. Default 15 minutes. Minimum value should be 1.
# Allowed values: integer
# Default value: 15
# Examples : 0 , 2
syncNodeInfoInterval: 15

# allowRWOMultiPodAccess - Flag to enable sharing of volumes across multiple pods within the same node in RWO access mode.
# Allowed values: boolean
# Default value: "false"
# Examples : "true" , "false"
allowRWOMultiPodAccess: "false"

# maxUnityVolumesPerNode - Maximum number of volumes that controller can publish to the node.
# Allowed values: integer
# Default value: 0
# Examples : 0 , 1
maxUnityVolumesPerNode: 0

# tenantName - Tenant name that need to added while adding host entry to the array.
# Allowed values: string
# Default value: ""
# Examples : "tenant2" , "tenant3"
tenantName: ""

images:
  # "driver" defines the container image, used for the driver container.
  driverRepository: dellemc
